doctype html
html
    head
        title Fill in the Blanks
        link(rel="stylesheet", href="css/bootstrap.min.css")
        script(type="text/javascript", src="js/jquery.min.js")

        link(rel="stylesheet", href="css/feedback.css")
        script(type="text/javascript", src="js/feedback.js")

        script(type="text/coffeescript", src="coffee/index.coffee")
        link(rel="stylesheet/less", type="text/css", href="less/index.less")

        script(type="text/javascript", src="js/less.min.js")
        script(type="text/javascript", src="js/coffee-script.js")
    body
        .container
            .jumbotron
                h1.title Fill in the Blanks
                ol
                    li Only input[type="text"] data are retrieved
                    li Multiple inputs are populated by index
                    li Input can define if the check should be case sensitive
                    li Single field can have multiple answers

        .container
            .panel.panel-primary
                .panel-heading
                    h2 Mechanics (single)
                .panel-body.item(data-type="fill", data-id="1")
                    .question.form-inline
                        = "Lorem ipsum dolor sit amet, {input} adipiscing elit. Nam nec sapien scelerisque, mollis justo at, cursus ante."
                    .actions
                        button.btn.btn-default.check Check Answer

            .panel.panel-primary
                .panel-heading
                    h2 Mechanics (multiple)
                .panel-body.item(data-type="fill", data-id="2")
                    .question.form-inline
                        = "Lorem ipsum dolor sit {input}, consectetur adipiscing elit. {input} nec sapien scelerisque, {input} justo at, cursus ante."
                    .actions
                        button.btn.btn-default.check Check Answer

            .panel.panel-default
                .panel-heading
                    h2 HTML Block
                .panel-body
                    pre
                        = "<div "
                        strong= 'data-type="fill"'
                        = " "
                        strong= 'data-id="(id)"'
                        = ">"
                        br
                        = "    <div "
                        strong= 'class="question"'
                        = ">"
                        br
                        strong= "        (question)"
                        br
                        = "    </div>"
                        br
                        = "    <button|a "
                        strong= 'class="check"'
                        = ">Check Answer</button|a>"
                        br
                        = "</div>"

            .panel.panel-default
                .panel-heading
                    h2 CSS Classes
                .panel-body
                    h3 Question Block .question
                    pre= '<div class="question"></div>'

                    h3 Input .question input
                    pre= '<input type="text" />'

                    h3 Input - Correct .question input.correct
                    pre= '<input type="text" class="correct" />'

                    h3 Input - Wrong .question input.wrong
                    pre= '<input type="text" class="wrong" />'

                    h3 Check Answer .check
                    pre= '<button|a class="check">Check Answer</button|a>'


            .panel.panel-default
                .panel-heading
                    h2 Question Input
                .panel-body
                    pre
                        = "Lorem ipsum dolor sit amet, "
                        strong= "{input}"
                        = " adipiscing elit. Nam nec sapien scelerisque, mollis justo at, cursus ante."

            .panel.panel-default
                .panel-heading
                    h2 Answers Database
                .panel-body
                    table.table.table-striped.table-condensed
                        thead
                            tr
                                th id
                                th questionid
                                th answerindex
                                th value
                        tbody
                            tr
                                td 1
                                td 1
                                td 0
                                td apple
                            tr
                                td 2
                                td 1
                                td 0
                                td boy
                            tr
                                td 3
                                td 2
                                td 0
                                td apple
                            tr
                                td 4
                                td 2
                                td 1
                                td boy
                            tr
                                td 5
                                td 2
                                td 2
                                td cat
                            tr
                                td 6
                                td 2
                                td 2
                                td dog

            .panel.panel-warning
                .panel-heading
                    h2 To Do
                .panel-body#feedback(data-identifier="fill-in-blanks")
